@font-face {
  font-family: "uconn";
  src: url("../fonts/uconn.eot");
  src: url("../fonts/uconn.eot#iefix") format("embedded-opentype"),
       url("../fonts/uconn.ttf") format("truetype"),
       url("../fonts/uconn.woff") format("woff"),
       url("../fonts/uconn.svg#uconn") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "comic";
  src: url("../fonts/comic_zine_ot.eot");
  src: url("../fonts/comic_zine_ot.eot#iefix") format("embedded-opentype"),
       url("../fonts/comic_zine_ot.ttf") format("truetype"),
       url("../fonts/comic_zine_ot.woff") format("woff"),
       url("../fonts/comic_zine_ot.svg#comic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rothenbg";
  src: url("../fonts/rothenbg.eot");
  src: url("../fonts/rothenbg.eot#iefix") format("embedded-opentype"),
       url("../fonts/rothenbg.ttf") format("truetype"),
       url("../fonts/rothenbg.woff") format("woff"),
       url("../fonts/rothenbg.svg#rothenbg") format("svg");
  font-weight: normal;
  font-style: normal;
}
img.wrap {
  max-width: 100%;
}
div.large-text {
  font-size: 40px;
}
img#huskyhunt-logo {
  max-width: 100%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}
div#background {
  position: fixed;
  left: 0em;
  top: 0em;
  z-index: -1;
  width: 100%;
  height: 100%;
}
div.badge-button {
  background: #000066;
  color: white;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  transition: background 1s;
}
div.badge-button:hover {
  background: radial-gradient(60%, #36648B, #0D4F8B, #27408B);
  background: -webkit-radial-gradient(60%, #36648B, #0D4F8B, #27408B);
  background: -moz-radial-gradient(60%, #36648B, #0D4F8B, #27408B);
}
img.uconn-wordmark {
  max-height: 100%;
  height: 40px;
  padding: 6px 0px 0px 0px;
}
img.badge {
/*  max-width: 30%;*/
  margin: 2px;
}
img.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  overflow: visible;
  white-space: normal;
}
div.badge-name {
  font-size: 1.4em;
  font-weight: bold;
  color: #000040;
  margin-bottom: 3px;
}
span.badge-description {
  font-size: 0.9em;
}
