<ion-tabs class="tabs-icon-top">
  <!-- Play tab -->  
  <ion-tab title="Play" icon="icon ion-bluetooth" href="#/game/levels">
    <ion-nav-view name="level-board"></ion-nav-view>
  </ion-tab>
  <!-- Status tab -->
  <ion-tab title="Status" icon="icon ion-camera" href="#/game/status">
    <ion-nav-view name="game-status"></ion-nav-view>
  </ion-tab>

  <!-- Scoreboard tab -->
  <ion-tab title="Scores" icon="icon ion-calendar" href="#/game/scores">
    <ion-nav-view name="scoreboard"></ion-nav-view>
  </ion-tab>

  <!-- Settings tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/game/settings">
    <ion-nav-view name="settings-view"></ion-nav-view>
  </ion-tab>



</ion-tabs>
