<div class="modal">
  <ion-header-bar title="Question {{selectedQuestion + 1}}">
  </ion-header-bar>
  <ion-content has-header="true" padding="true">
  <div ng-bind-html="module.questions[selectedQuestion].body"></div>
  <div class="list">
  <ion-radio ng-repeat="answer in module.questions[selectedQuestion].answers" ng-value="answer.id" ng-model="$parent.choice">{{answer.value | strip}}</ion-radio>
  </div>
  <button id="submit" class="button button-clear" ng-click="attemptQuestion(choice)">Submit</button>
  <button id="yo" class="button button-clear" ng-click="hideQuiz()">Close</button>
  </ion-content>
</div>
