<div class="modal">
<ion-header-bar align-title="center" class="bar-positive" title="Level Complete! +{{level.points}} Points"></ion-header-bar>
<ion-content has-header="true" padding="true">
<h4> Share what you have learned on the social network of your choice to earn {{level.social_points}} more points.</h4>
<h4> If you just scanned a QR code you have already earned the points for this module! </h4>
<hr>
  <blockquote ng-bind-html="level.insight">
  </blockquote>
<div class="row">
  <a ng-click="shareTwitter()">
    <img style="margin-left: auto;" src="images/social_twitter_square.png">
  </a>
  <a ng-click="shareFacebook()">
    <img style="margin-right: auto;" src="images/social_facebook_square.png">
  </a>
</div>
<small>* Sharing is <em>not</em> required to be eligible for the grand prize.</small>
<br>
<button class="button button-clear" ng-click="done()">Done</button>
</ion-content>
</div>
