<h2> Share! </h2>
<h4> Share what you have learned on the social network of your choice.</h4>
<h4> If you just scanned a QR code you have already earned the points for this module! </h4>
<hr>
<div class="row" style="text-align: center;">
  <blockquote>
  {{module.insight}}
  </blockquote>
  <div class="col-md-5 col-md-offset-1">
    <img src="images/social_twitter_square.png">
  </div>
  <div class="col-md-5 col-md-offset-1">
    <img src="images/social_facebook_square.png">
  </div>
</div>
<small>* Sharing is <em>not</em> required to be eligible for the grand prize.</small>
